.gitignore~
.coverage
.keystore
tags
.tags
.tags_sorted_by_file
.idea
*.pyc
*.swp
media/*
build/*
_working/*
static/CACHE/*
dss/localsettings.py
dss/storagesettings.py
dss/celery_settings.py
dss.conf
dss/debugsettings.py
mysql
test.py
mysql2pgsql.yml
downloads.txt
plays.txt
dss_ah
fixtures.json
dss_test.db
dsskeys
.ropeproject/*
*.map
./dds.sublime-project
./dds.sublime-workspace
./__krud/*
reload
reset
__krud/
